.mat-mdc-table {
  background: var(--color-neutral-0);
  width: 100%;
}

tr.mat-mdc-header-row {
  background-color: var(--color-neutral-50);
  height: 40px;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell {
  border-bottom-color: var(--color-border);
}

.mat-mdc-header-cell {
  font-size: var(--font-size-200);
  color: var(--color-text-default);
  font-weight: var(--font-weight-normal);
}

.element-row {
  &:hover,
  &:focus {
    background: var(--color--primary-100);
    cursor: pointer;
  }
}
